.shop-product{
    width: 20%;
    float: left;
    margin: 10px;
    padding: 10px;
    font-size: 200%;
}

.shop-product-details {
    height: 5rem;
}

.shop-product-img img{
    width: 100%;
    height: 8rem;
    object-fit: cover;
    vertical-align: middle;
}

.shop-product-title{
    padding-bottom: 0.2em;
    padding-top: 0.4em;
    font-weight:bolder;
    font-size: 1.6rem;
}

.shop-product-text{
    font-weight: bold;
    font-size: 1.2rem;
}

.shop-product-price{
    float:left;
}

.shop-product-units{
    float:right;
}



.shop-product-buying{
    font-size: 1.2rem;
    font-weight: bold;
    height: 40px;
    margin-bottom: 10px;
}

.shop-product-basket-btn{
    width: 100%;
    height: 100%;
    background-color: black;
    color:white;
}

.shop-product-basket-btn:hover{
    background-color: white;
    color:black;
}

.shop-product-adjust-div{
    height: 100%;
}

.shop-product-adjust-div .btn {
    height: 100%;
}

.adjust-down-btn {
    float: left;
}

.adjust-up-btn {
    float: right;

}

.amount-to-buy-input{
    height: 80%;
}
